<div class="col-md-3 col-sm-4 flip">
	<div class="card">
		<div class="folio-item face front">
			<div class="content">
				<strong>{{this.name}}</strong>
				<span class="tag">{{this.type}}</span>
				<hr />
				{{#if this.icon}}
					<i class="fa {{this.icon}} fa-5x"></i>
				{{/if}}
				{{#if this.image}}
					<img src="{{this.image}}" class="img-responsive" />
				{{/if}}
				<p>{{this.description}}</p>
			</div>
			{{> portfoliolinks}}
		</div>
		<div class="folio-item face back">
			<div class="content">
				<strong>{{this.name}}</strong>
				<hr />
				<ul>
					{{#each this.technology}}
					<li>{{this}}</li>
					{{/each}}
				</ul>
			</div>
			{{> portfoliolinks}}
		</div>
	</div>
</div>	
